* text=auto

*.txt  text
*.json text
*.c    text eol=lf
*.h    text eol=lf
*.py   text eol=lf
*.md   text
*.html text
*.asm  text eol=lf

*.bin  binary
*.o    binary

/ASM/build/*.txt  text -diff linguist-generated=true
/data/generated/* text -diff linguist-generated=true

/bin/Compress/Compress*     binary
/bin/Decompress/Decompress* binary
/bin/gzinject/gzinject*     binary
/bin/minibsdiff/minibsdiff* binary
